* {
     margin: 0px;
     padding: 0px;
}

body {
     background-color: #170A35;
}

.logo_image {
     height: 100px;
}

a:visited {
     color: white;
}

nav {
     background-color: #102148;
     padding-left: 20px;
     padding-right: 20px;
     color: white;
     display: flex;
     justify-content: space-between;
}

#menu_logo {
     display: flex;
}

#menu_text {
     margin-top: 30px;
     font-size: 2.5rem;
     font-family: 'Acme', sans-serif;
     text-transform: uppercase;
}

#menu_links {
     margin-top: 40px;
}

.links {
     margin-right: 60px;
     font-size: 1.5rem;
     text-decoration: none;
     font-family: 'Montserrat', sans-serif;
     font-weight: bold;
}

a:hover {
     color: #10F7FF;
     padding: 10px;
     border-radius: 20px;
     box-shadow: #10F7FF 0px 50px 100px -20px, #10F7FF 0px 30px 60px -30px, #10F7FF 0px -2px 6px 0px inset;
}

a:active {
     color: white;
     padding: 10px;
     border-radius: 20px;
     box-shadow: white 0px 50px 100px -20px, white 0px 30px 60px -30px, white 0px -2px 6px 0px inset;
}

#banner_image1 {
     height: 523px;
     width: 750px;
}

#banner_image2,
#banner_image3 {
     height: 250px;
     width: 400px;
}

#banner_image3 {
     margin-top: 20px;
}

#banner {
     display: flex;
     margin: 30px;
     gap: 30px;
}

#aboutus {
     margin-top: 70px;
     margin-left: 70px;
     margin-right: 70px;
     margin-bottom: 40px;
}

.my_heading {
     color: white;
     font-size: 7rem;
}

.heading {
     display: flex;
     gap: 30px;
     font-family: 'Protest Guerrilla', sans-serif;
     letter-spacing: 2px;
}

#text2 {
     margin-top: 50px;
     color: #FBD622;
}

.paragraph {
     color: white;
     font-size: 1.5rem;
     margin-top: 80px;
     font-family: 'Titillium Web', sans-serif;
}

#aboutus_content {
     display: flex;
     gap: 50px;
}

#aboutus_image {
     margin-top: -40px;
     height: 400px;
     width: 400px;
}

#popular_games {
     height: 1000px;
     padding-left: 50px;
     padding-right: 50px;
     color: white;
}

.cut_card {
     width: 100%;
     background-color: #101018;
     height: 500px;
     clip-path: polygon(100% 0, 100% 26%, 90% 37%, 90% 64%, 100% 77%, 100% 100%, 9% 100%, 0 83%, 0 36%, 0 0);
     background-image: url("../images/popular_background.jpeg");
     background-size: cover;
     box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

#popular_heading {
     padding: 50px;
     display: flex;
     justify-content: space-between;
}

.heading1 {
     font-family: 'Acme', sans-serif;
     font-size: 2.7rem;

}

.tag {
     display: flex;
     padding: 20px;
     background-color: #200C3B;
     border-radius: 40px;
     box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}